@model PersonalSite.Models.ContactViewModel;

@{
    ViewData["Title"] = "Email Confirmation";
}

<main class="site-wrapper">
    <div class="pt-table">
        <div class="pt-tablecell page-contact relative">
            <!-- .close -->
            <a href="@Url.Action("Index", "Home")" class="page-close"><i class="tf-ion-close"></i></a>
            <!-- /.close -->

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title text-center">
                            <h2>Get in <span class="primary">touch</span> <span class="title-bg">Contact</span></h2>
                            <h1> Message sent. Thank you for reaching out.</h1>
                        </div>
                    </div>
                </div> <!-- /.row -->
            </div>
            

            <nav class="page-nav clear">
                <div class="container">
                    <div class="text-center">
                        @*<span class="prev-page"><a href="@Url.Action("Links", "Home")" class="link">&larr; Prev Page</a></span>*@
                        <span class="copyright">Copyright &copy; @DateTime.Now.Year, Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a>.</span>
                    </div>
                </div>
                <!-- /.page-nav -->
            </nav>

            <!-- /.container -->

        </div> <!-- /.pt-tablecell -->
    </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->
